extends layout
block content
    .container
      .row
        .col-lg-12
          h2 List of Clients
          table.table
            thead
              tr
                td name
                td Email
                td Password
              tr
                td MAhesh
                td mahesh@gmail.com
                td jygjhgjgjg
              tr
                td MAhesh
                td mahesh@gmail.com
                td jygjhgjgjg




    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
