extends layout
block content
    .container
      .row
        .col-lg-12
          h2 Registration Form
          input.form-control
          br
          input.form-control
          br
          button.btn.btn-primary.btn-block Submit





    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
