html
  body
    head
      title Ok
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Rameshwar
          ul.nav.navbar-nav
            li
              a(href='/') INSERT
            li
              a(href='/about') SHOW


block content
